@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
* {
  margin: 0;
}

h1,
h2,
h3,
button {
  font-family: "Baskervville", serif;
}

p,
span {
  font-family: "Nunito", sans-serif;
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0rem;
  gap: 2rem;
}
@media (max-width: 768px) {
  .page-title {
    gap: 1rem;
  }
}
.page-title h1 {
  text-align: center;
  font-weight: 400;
  font-size: 80px;
  letter-spacing: 10px;
  color: #725A58;
}
@media (max-width: 768px) {
  .page-title h1 {
    font-size: 2rem;
    letter-spacing: 5px;
  }
}
.page-title h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #E3B6B1;
}
@media (max-width: 768px) {
  .page-title h2 {
    font-size: 2.25rem;
  }
}

header {
  background-color: #f5f0eb;
  border-bottom: 1px solid #d4d4d4;
  padding: 1.5rem 3rem;
  font-family: "baskervville", serif;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}
header .navbar .line {
  border-left: 1px solid #b8b8b8;
  height: 24px;
  align-self: center;
}
header .navbar ul {
  display: flex;
  list-style: none;
  gap: 0;
  align-items: center;
}
header .navbar ul li {
  padding: 0 1.25rem;
}
header .navbar ul li a {
  text-decoration: none;
  color: #8a8a8a;
  font-size: 1.15rem;
  transition: color 0.3s ease;
  font-weight: 400;
  letter-spacing: 0.02rem;
}
header .navbar ul li a:hover {
  color: #2a2a2a;
}
header .navbar ul li i {
  font-size: 1.35rem;
  color: #8a8a8a;
  transition: color 0.3s ease;
}
header .navbar ul li i:hover {
  color: #2a2a2a;
}
header .navbar .nav-left {
  flex: 1;
  justify-content: flex-start;
  padding-left: 2rem;
}
header .navbar .nav-right {
  flex: 1;
  justify-content: flex-end;
  padding-right: 2rem;
}
header .navbar .logo {
  flex-shrink: 0;
  margin: 0 2.5rem;
}
header .navbar .logo img {
  height: 100px;
  width: auto;
}

.about-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #FAE9E7;
}
.about-main .chat-button {
  position: sticky;
  top: 0;
  left: 100%;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #B99692;
  border: 0;
}
@media (max-width: 768px) {
  .about-main .chat-button {
    display: none;
  }
}
.about-main .about-content {
  display: flex;
  align-items: center;
  max-width: 64rem;
  padding: 2rem 3.75rem 6rem;
  gap: 2.5rem;
}
@media (max-width: 768px) {
  .about-main .about-content {
    padding: 0 0 2rem;
    flex-direction: column;
  }
}
.about-main .about-content .about-image {
  display: flex;
  position: relative;
  width: 22.5rem;
  height: 26.5rem;
}
.about-main .about-content .about-image img {
  width: 22.5rem;
  height: 26.5rem;
  object-fit: cover;
}
.about-main .about-content .about-image .about-image-outline {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 19.5rem;
  height: 23.875rem;
  border: 1px solid white;
  z-index: 10;
}
.about-main .about-content .about-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 768px) {
  .about-main .about-content .about-info {
    align-items: center;
    padding: 0 1rem;
  }
}
.about-main .about-content .about-info h3 {
  font-size: 3rem;
  font-weight: 400;
  color: #725A58;
}
@media (max-width: 768px) {
  .about-main .about-content .about-info h3 {
    font-size: 2rem;
  }
}
.about-main .about-content .about-info p {
  font-size: 1.125rem;
  font-weight: 300;
}
@media (max-width: 768px) {
  .about-main .about-content .about-info p {
    font-size: 1rem;
  }
}
.about-main .about-content .about-info button {
  font-size: 1.25rem;
  font-weight: 400;
  color: #5E4A49;
  width: 10.75rem;
  height: 3.75rem;
  border: 0.8px solid #5E4A49;
  background-color: transparent;
}

.about-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.about-brand h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #725A58;
}
@media (max-width: 768px) {
  .about-brand h2 {
    font-size: 2rem;
  }
}
.about-brand .about-brand-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 8rem;
  row-gap: 4rem;
  max-width: 48rem;
  padding: 2rem;
  opacity: 60%;
}
@media (max-width: 768px) {
  .about-brand .about-brand-items {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
}
.about-brand .about-brand-items img {
  max-width: 5.625rem;
  max-height: 4.875rem;
  object-fit: contain;
}

/*# sourceMappingURL=main.css.map */
